body{
    margin: 0;
    padding: 0;
    background: #000;
}

.heart{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

i{
    color: #000;
    font-size: 200px;
    animation: beat 0.9s infinite;
    text-shadow:
         0 0 5px red,
         0 0 45px red,
         0 0 90px red;
}
@keyframes beat {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.15);
    }
    40%{
        transform: scale(1.4);
    }
}

